<!DOCTYPE html>
<html>
<head>
    <title>All Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Search Contacts</h2>
    <form method="GET" action="/contacts">
        <input type="text" name="query" placeholder="Search by name">
        <input type="submit" value="Search">
    </form>
    <h1>Contact List</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact[0] }}</td>
            <td>{{ contact[1] }}</td>
            <td>{{ contact[2] }}</td>
            <td>{{ contact[3] }}</td>
            <td>
                <a href="/edit-contact/{{ contact[0] }}">Edit</a>
                <a href="/delete-contact/{{ contact[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/add-contact">➕ Add New Contact</a>
</body>
</html>